
.body{
    background-image: url(https://images.pexels.com/photos/1287142/pexels-photo-1287142.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
}

.div1{

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

h1 {
    color: aliceblue;
}